body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-image: url(fondo.gif);
        justify-content: center;
}

header {
    background-image: url(header.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 40px;
    text-align: center;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a{
  text-decoration: none;
  color: #000000;
}

section {
    margin: 20px;
}


footer {
    background-color: rgb(23, 23, 23);
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


.sidebar {
    height: auto;
    width: auto;
    background-image: url(header.gif);
    padding-top: 20px;
    position: fixed;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: #fff;
}

.sidebar a:hover {
    background-color: #000000;
}


h1{
    text-align: center;
    color: #fff;
    font-size: 2.3rem;
}

h2{
    text-align: center;
    color: white;
    font-family: palatino;
    font-size: 4rem;
}


video{
    height: 500px;
    margin-left: 26%;
}
p{
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    text-align: justify;
    font-size: 1.1rem;
}

h6{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

h5{
  color: #fff;
  margin-left: 30%;
  font-size: 1.1rem;
  font-weight: normal;
}

img{
  height: 50px;
  margin-right: 2%;
}


/*ESTRELLAS*/

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form {
    text-align: left;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: rgb(255, 255, 255);
  }
  
  .clasificacion {
    text-align: left;
    direction: rtl;
    margin-left: 30%;
    }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  
textarea{
    margin-left: 30%;
}


input{
    margin-left: 60%;
    color: #000000;
}
